#main_section {
    text-align: center;
    font-size: 48px;
}

#main_section label{
    text-align: center;
    font-size: 22px;
    margin-right: 10px;
}

.form-control {
    text-align: center
}

.row {
    margin-top: 20px;
}

h1 {
    margin-top: 25px;
}